{# The Category Archive Page Template #}

{% extends "archive.twig" %}

{% block heading %}
  <div class="archive-heading-title">
    <p class="upper text-red-300 font-thin text-lg">Tagged in</p>
    {{ title }}
  </div>
{% endblock %}