{% extends "base.twig" %}

{% block content %}
  <main>
    <div class="flex flex-wrap items-center justify-center">
      {# Posts #}
      {% for post in posts %}
        <div class="post-type-coupon wp-block-nucssa-coupon {{ post.meta('style') }}">
          <div class="coupon-preview">

            {% set style = post.meta('style') ?? 'is-style-style-1-pattern-1' %}

            {% if 'is-style-style-1' in style %}
              {% include "parts/coupon-style-1.twig" %}
            {% else %}
              {% include "parts/coupon-style-2.twig" %}
            {% endif %}

          </div>
        </div>

      {% endfor %}

    </div>

  </main>

{% endblock %}