@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'parts/variables';

.editor-styles-wrapper .block-editor-writing-flow,
.post-content {@apply font-sans;
  h1, h2, h3, h4, h5, h6 {@apply my-3;}
  h1 {@apply text-3xl font-bold;}
  h2 {@apply text-2xl;}
  h3 {@apply text-xl font-bold;}
  h4 {@apply text-xl font-semibold;}
  h5 {@apply text-lg;}
  h6 {@apply text-sm font-bold;}

  img {@apply border-none;}
  p {@apply my-5;}
  ul:not(.blocks-gallery-grid), ol {@apply ml-5 pl-5 mb-5;}
  ul:not(.blocks-gallery-grid) {@apply list-square;}
  ol {@apply list-decimal;}
  li {@apply leading-relaxed;}
  a {@apply text-blue-600;}
}

body article .post-content {
  > ul, > ol {@apply pl-16 mb-5 #{!important};}
  blockquote {@apply pl-10 #{!important};}
}

.editor-styles-wrapper .block-editor-writing-flow .editor-post-title #post-title-0 {
  @apply font-sans text-4xl font-normal;
  color: rgba(0,0,0,.84);
}