@import '~flickity/dist/flickity';
.carousel {
  .carousel-card {@apply relative;
    width: 100%;
    padding-top: 49%;
    @screen sm {padding-top: 20.8%;}

    img {@apply absolute h-full top-0;}
  }

  .carousel-card.has-video {
    .icon {
      @apply text-4xl text-white rounded-full flex items-center justify-center absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 6rem; height: 6rem; padding-left: .56rem;
      border: solid 2px white;
      transition: all .3s;
    }
  }
  .carousel-card.has-video:hover {
    .icon {
      border-color: darken($color: white, $amount: .3);
      transform: translate3d(-50%, -50%, 0) scale(1.15);
    }
  }

  .flickity-button {
    visibility: hidden;

    @screen sm {
      visibility: visible;
      background: transparent; color: white; opacity: .25;
      transform: scaleY(1.5) translateY(-40%);
      &:hover {opacity: .9;}
    }
  }
  .flickity-page-dots { position: absolute; bottom: .5rem;
    .dot {width: 2rem; height: .25rem; border-radius: 5px; background: white; opacity: .25;}
    .dot.is-selected {opacity: .8;}
  }

  .gradient-cover {
    @apply absolute w-full h-full top-0 left-0;
    // background-image: linear-gradient(to right, #605c5c 0%, #605c5c80 7%, #605c5c00 13% 87%, #605c5c80 93%, #605c5c 100%);
    background-image: linear-gradient(to right, #0000003b 0%, #00000000 13% 87%, #0000003b 100%);
  }
}

.carousel:hover .gradient-cover {
  background-color: rgba(0, 0, 0, .05);
}