a:hover {@apply text-nucssa-standard;}
.alignfull {@apply w-screen;
  margin-left: calc(-50vw + 50%) !important; // `important` is required here to override jetpack tiled gallery stying
}
.alignwide {@apply w-screen -mx-6;
  margin-left: calc(-50vw + 50%);
  @screen md {@apply max-w-5xl mx-0;
    transform: translateX(calc(-50% + theme('maxWidth.2xl') / 2));
  }
}
.aligncenter {@apply mx-auto;}
