// Colors
$nucssa-standard: #d92110;
$tooltip: #43425D;
$title: #d92110c2;
$subtitle: #d92110ad;
$section-title: #601c16;
$view-all-btn: #FA6980;
$tooltip-1: #601c16;
$tooltip-2: #43425D;
$tooltip-3: #D92110;
