// The Home/Blog Page Styling
body.blog,
body.archive {
  .archive-heading-title {@apply uppercase text-center text-4xl font-medium mt-8 text-nucssa-tooltip-2;
    &::after {content: ''; height: 5px; background-color: #efeff0; @apply block mt-3 mb-10; }
  }

  article + article {@apply mt-4;}
  article:last-of-type {@apply mb-8;}
  article {@apply mx-auto w-full flex;
    @screen md {@apply max-w-2xl;}

    .left {@apply flex-grow-0 flex-shrink-0; max-width: 40%;}
    .right {@apply border-t border-gray-400 border-solid w-full pt-1 pl-2 flex flex-col justify-between overflow-hidden;
      .post-title {@apply text-sm font-bold leading-tight; color: rgba(0,0,0,.84);}
      .post-excerpt {@apply font-normal text-xs block mt-1 truncate; color: rgba(0,0,0,.54);}
      .post-meta {@apply font-light mt-1 text-xs; color: rgba(0,0,0,.58);
        .author-name,
        .categories li {@apply text-nucssa-standard;
          &:hover {filter: contrast(2);}
        }
        .categories {@apply inline-block;
          li {@apply inline-block;}
          li + li::before { @apply mr-1 inline-block;
            content: '|';
          }
        }

      }
    }
  }
}

body.archive.author {
  .archive-heading-title::after {@apply mt-10;}
}

@screen sm {
  body.archive article {
    .right {@apply pt-2;
      .post-title {@apply text-base;}
      .post-excerpt {@apply text-sm whitespace-normal;}
      .post-meta {font-size: .85rem;}
    }
  }
}
