/**
 * nav panel that can be toggled open on small screens
 */

#nav-panel {
  .searchbar {
    .icon {
      left: 1.7rem;
    }
  }

  nav {
    li + li {
      @apply mt-6;
    }
    li {
      a {
        @apply text-red-900 flex items-center;
        .icon {
          @apply inline-block w-12 text-center mr-2;
        }
      }
    }
    li a:hover,
    li.current-menu-item a {@apply text-nucssa-title;}

    li a:focus {@apply outline-none;}

    li {
      // adjust sizing for some icons
      .icon.icon-home {font-size: 2rem;}
      .icon.icon-basketball-hoop1 {font-size: 2rem;}
      .icon.icon-touch {font-size: 2rem;}
    }

    li.menu-item-has-children ul {@apply ml-20 mt-2;
      & > li + li {@apply mt-2;}

      & > li {@apply list-square;}
    }
  }

  .social-icons {
    color: #867F7E;
    a ~ a {
      margin-left: 1.8rem;
    }
  }
}
