@import './variables';

#globalnav {
  background-color: rgba(255, 255, 255, 0.98);
  // @apply bg-gray-100;

  /**
   * Shared Styling
   */
  .nav-link {
    @apply text-nucssa-nav-item font-bold;
    &:hover {@apply text-nucssa-nav-item-highlight;}
  }


  /**
   * screen-sm:
   */
  .nav-toggle {
    @screen md {@apply hidden;}
    @apply cursor-pointer p-0 border-none h-6 w-6 flex flex-col justify-center relative;

    span, span::before, span::after {
      @apply w-full absolute left-0 bg-nucssa-standard;
      height: 2px;
      content: '';
    }
    span::before {top: -8px;}
    span::after {top: 8px;}
  }

  .branding {
    @apply flex items-center mx-auto;
    .logo {
      @apply w-10;
    }
    .name {
      @apply flex flex-col justify-center px-1 ml-1 hidden;
    }

  }

  // User Profile
  .btn-login {
    @apply text-nucssa-nav-item font-bold;
    &:hover {@apply text-nucssa-tooltip-2;}
  }
  #user-profile-dropdown {@apply px-0 py-1;
    li a {@apply block px-4 py-2 text-nucssa-standard;
      &:hover {@apply bg-gray-200;}
    }
  }


  /**
   * Screen-md:
   */
  @screen md {
    // Branding
    .branding {
      &:hover{filter: contrast(120%);}

      .logo {
        width: 83px;
      }
      .name {
        @apply block ml-2;
      }
    }

    // Nav Menu Items
    .nav-menu {
      @apply ml-auto flex justify-end items-center flex-grow mr-8;

      li.current-menu-item a {@apply text-nucssa-nav-item-highlight;}
      li + li {@apply ml-8;}
      li.current-menu-item {
        @apply relative;

        &::after {
          @apply block absolute w-full bg-nucssa-nav-item-highlight;
          content: '';
          height: 3px;
        }
      }

      &.search-activated {
        display: none;
      }

      li.menu-item-has-children {
        .nav-menu {@apply hidden;}
      }
      li.menu-item-has-children:hover {@apply relative;
        .nav-menu {@apply block absolute shadow-md bg-white py-2 mr-0; left: 0; transform: translateX(-25%); width: max-content;
          li + li {@apply ml-0 border-t border-gray-400 border-solid;}
          .nav-link {@apply inline-block px-8 py-1;}
        }
      }
    }


    .searchbar { @apply flex items-center flex-grow-0;
      input {
        @apply w-0;
        transition: all .3s;
      }

      &.active {
        @apply flex-grow;
        .form-control {
          @apply w-full relative flex items-center;
          input {@apply w-full border-nucssa-standard border border-solid rounded-full text-lg py-2 pl-9 outline-none;}
          .icon {@apply absolute; left: .8rem;}
        }
      }
    }

    .user-profile {
      img {width: 45px;}
    }
  }
}
