body.page-template-page-template-clubs {
  main {@apply pt-8 pb-16; background: linear-gradient(135deg, #f7b333, #f00c2f);
    .title {@apply my-4 text-center font-bold text-3xl text-white;
      @screen md {@apply text-4xl;}
    }
    .container {@apply flex flex-wrap justify-center items-stretch max-w-full px-3;}
    article {@apply mx-0 my-2 pb-0 #{!important}; max-width: 550px;
      .club-info {@apply px-0;
        .content {
          .read-more {@apply inline-block uppercase text-white text-xs font-semibold rounded-full px-5 py-2 mt-3;
            background: linear-gradient(135deg, #f7b333, #f00c2f);
          }
        }
      }
    }

    @screen md {
      article {@apply mx-4 #{!important};}
    }
  }
}