/**
 * Shared Stylings for Single Post Or Page
 */
body.single,
body.page:not(.home) {
  article {@apply pb-10;
    // Default max-width for all content elements
    & > * {@apply mx-auto max-w-2xl px-6;}

    .post-thumbnail {@apply relative max-w-full px-0; // unset default max-width
      .post-thumbnail-bg-layer {@apply absolute w-full h-full; filter: blur(8px); z-index: -1; clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); background-size: 70%;}
      .post-thumbnail-image {@apply mx-auto; width: 100%; max-width: 1200px;}
    }


    .post-title {@apply text-4xl mt-6; color: rgba(0,0,0,.84);}
    .post-excerpt {@apply text-2xl opacity-50 font-normal;}
    .post-meta {@apply flex items-center text-sm mt-5;
      .left {
        .author-thumbnail {@apply rounded-full;}
      }
      .right {@apply ml-3 flex flex-col;
        .author-name {color: rgba(0,0,0,.84);}
        .post-date {@apply opacity-50 uppercase;
          .date {@apply normal-case;}
          .categories {@apply inline-block;
            li {@apply inline-block;}
            li + li::before { @apply mr-1 inline-block;
              content: '|';
            }
          }
        }
      }
    }
    .post-content {@apply mt-8 max-w-full px-0;
      & > * {@apply mx-auto max-w-2xl px-6;}
      .alignfull {@apply w-full max-w-full px-0;}
      .alignwide {@apply max-w-full px-0;
        @screen md {@apply max-w-5xl px-6;}
      }

    }
    .post-tags {@apply mt-8;
      ul {@apply flex;
        li a {@apply rounded text-sm font-normal; color: rgba(0,0,0,.54); background-color: rgba(0,0,0,.05); padding: 5px 10px;}
        li + li {@apply ml-2;}
      }
    }
  }

}

/**
 * Single Club
 */
body.single-club {
  main.content-wrapper {background: linear-gradient(135deg, #f7b333, #f00c2f);
    .club-info {@apply mt-16 px-3; max-width: 950px;}
    .post-meta {@apply flex justify-center text-white mt-0;}
  }
}

/**
 * Clubs Index Page
 */
@import './page-template-clubs.scss';

/**
 * Coupons Index Page
 */
body.page-template-page-template-coupons {
  main {@apply py-16;
    .wp-block-nucssa-coupon {@apply mx-4 pb-10;}
  }
}