<form class="searchbar" action="{{ site.link }}">
  <div class="form-control">
    <label class="icon icon-search btn nav-link" for="{{ inputId }}"></label>
    <input type="text" id="{{ inputId }}" name="s" placeholder="搜索文章、活动、和商家促销" />
  </div>
</form>