<article class="card activity" style="background-image: url('{{(post.thumbnail.src ?? placeholder_thumbnail_url)|resize(730) }}')">
  <div class="card-content-wrapper">
    <a href="{{post.link}}" class="absolute block w-full h-full">
      <div class="title-outer-box">
        <div class="title-inner-box">
          <h2 class="title">{{post.title}}</h2>
          <p class="subtitle">活动</p>
        </div>
      </div>
    </a>
  </div>
</article>